* {
    padding: 0;
    margin: 0;
    -webkit-text-size-adjust: none;
}

html {
    height: 100%;
    font-size: 100%;
}

body {
    height: 100%;
    font-style: normal;
    font-weight: 100;
    min-width: 1200px;
}

p {
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 1em;
}

a{
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 0.9em;
    color:#4c5b9e;
}

h2{
	font-family: Roboto Condensed, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2em;
    margin-top:15px;
}

h3 {
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 0.8em;
}

h4 {
	font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1em;
}

span{
	font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 0.7em;
}

button{
	font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 1.3em;
	padding:7px 15px 7px 15px;
	border-radius: 40px;
	outline:none;

}

/* test test test test 
#homepage{
	display: none;
}
*/

/*step footer style*/

.step{
	position: fixed;
	bottom: 0;
	width:100%;
	height:130px;
	background-color: #d74276;
}

.step h1{
	font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5em;
    color:#fff;
	margin: 15px 0 10px 40px;
}

.step p{
	position: relative;
	font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 1em;
    color:#fbeff0;
    margin-left: 40px;
    width:75%;
}

.step button{
	color:#fff;
	background-color: #d74276;
	border:2px solid white;
	position: absolute;
	right:50px;
	top:30px;
	outline:none;
}

.step button:hover{
	cursor:pointer;
	color:#d74276;
	background-color: #fff;
	border:2px solid white;
	position: absolute;
	right:50px;
	top:30px;
}

/*display*/

#design_character{
	display:none;
}

#generate_character{
	display:none;
}

#design_personality{
	display:none;
}

#final_board{
	display: none;
}

#generate_cards{
	display: none;
}

.BOG-skin0, .BOG-skin1, .BOG-skin2,
.BOG-cloth0, .BOG-cloth1, .BOG-cloth2, .BOG-cloth3, .BOG-cloth4, .BOG-cloth5,
.BOG-cloth6-0, .BOG-cloth6-1, .BOG-cloth6-2, .BOG-cloth7,
.BOG-hair0, .BOG-hair1,
.BOG-skin0, .BOG-skin1, .BOG-skin2{
	display: none;
}

.BOD-skin0, .BOD-skin1, .BOD-skin2,
.BOD-cloth0, .BOD-cloth1, .BOD-cloth2, .BOD-cloth3, .BOD-cloth4, .BOD-cloth5,
.BOD-cloth6-0, .BOD-cloth6-1, .BOD-cloth6-2, .BOD-cloth7,
.BOD-hair0, .BOD-hair1,
.BOD-skin0, .BOD-skin1, .BOD-skin2{
	display: none;
}


/*position content in the middle of screen*/
.frame{
	position: relative;
	width:1200px;
	height:100%;
	left:calc(50% - 600px);
	background-color: #FFF;
}

/* homepage */

#title_image{
	position: relative;
	width:74%;
	left:13%;
	margin-top: 60px;
}

#homepage h2{
	position: relative;
	text-align: center;
	color:#686c6d;
	top: -30px;
}

#homepage p{
	font-size: 0.9em;
	position: relative;
	top:-20px;
	width:70%;
	left:15%;
	text-align: center;
	line-height: 1.4em;
}

#homepage a{
	position: relative;
	width:364px;
	left:calc(50% - 182px);
	text-align: center;
}

#homepage button{
	color:#d74276;
	border:2px solid #d74276;
	background-color: white;
	position: absolute;
	bottom:80px;
	width:250px;
	left:calc(50% - 125px);
	outline:none;
}

#homepage button:hover{
	cursor:pointer;
	color:#fff;
	background-color: #d74276;
	border:2px solid #d74276;
}

/*character design page*/

#camelot_input_BOG,
#camelot_input_BOD{
	display: none;
}


#design_character h2{
	text-align: center;
	position: relative;
	top:1.5%;
}

#design_character h3{
	text-align: center;
	position: relative;
	top:2%;
}

.design_BOG{
	position: absolute;
	left:0;
	width:50%;
	height:100%;
}

.design_BOD{
	position: absolute;
	width:50%;
	right:0;
	height:100%;
	background-color: #fbeff0;
}

#design_character h4{
	position: relative;
	float:left;
	left:20px;
	padding:5px;
	font-weight: 400;
}

.design_character_input{
	position: absolute;
	width:560px;
	left:calc(50% - 280px);
	top:16%;
	height:400px;
}

.line{
	height:20px;
	position: relative;
	width:100%;
}

.line div{
	width:92%;
	left:4%;
	height:2px;
	position: absolute;
	top:0;
	background-color:#d74276;
	bottom: 0;
}

.check_box{
	position: relative;
	float:right;
	font-family: Lato, sans-serif;
	margin:5px 38px 0 50px;
}

.check_box_1{
	position: relative;
	float:right;
	font-family: Lato, sans-serif;
	margin:5px 30px 0 45px;
}

label{
	margin-left: 8px;
}

#grey_text{
	color:#999;
}


#era_block{
	height:40px;
}

#color_block{
	height:50px;
}

.design_block{
	position: relative;
	height:65px;
	margin:10px 0 10px 0;
}

.slider{
	position: relative;
	float:right;
	right:30px;
}

.slider_text_left{
	position: absolute;
	left:0;
	padding-bottom: 20px;
}

.slider_text_right{
	position: absolute;
	right:0;
	padding-bottom: 20px;
}

.slider_body{
	margin-top: 24px;
}

.color_palette{
	position: absolute;
	right:23px;
	width:320px;
	height:20px;
	margin-top: 10px;
}

.color{
	position: absolute;
	float:left;
	width:85px;
	height:18px;
}

.color:hover{
	border-bottom: 2px solid #d74276;
	cursor: pointer;
}

#white_BOG{
	background-color: #f6d3d6;
	left:10px;
}

#yellow_BOG{
	background-color: #d8b387;
	left:120px;
}

#black_BOG{
	background-color: #6a253c;
	left:230px;
}

#white_BOD{
	background-color: #f6d3d6;
	left:10px;
}

#yellow_BOD{
	background-color: #d8b387;
	left:120px;
}

#black_BOD{
	background-color: #6a253c;
	left:230px;
}

.status_input{
	font-family: Lato, sans-serif;
	position: absolute;
	right:25px;
	width:310px;
}

/*delete later*/
#p{
	position: absolute;
	right: 25px;
	display: none;
}

#n{
	position: absolute;
	right: 25px;
	display: none;
}


/* Generate_character */
#generate_BOG_camelot{
	position: absolute;
	display: none;
}

#generate_BOD_camelot{
	position: absolute;
	display: none;
}

#BOG_camelot_image,
#BOD_camelot_image{
	margin-top: 35px;
	width:400px;
}

#generate_character{
	position: absolute;
	width:100%;
	height:100%;
	background: #f0e0e2;
}

#generate_BOG{
	position: absolute;
	width:400px;
	height:calc(100% - 60px);
	/*background: url("../img/BOG_bg.png") no-repeat center center;*/
	left:14%;
}

#generate_BOD{
	position: absolute;
	width:400px;
	height:calc(100% - 60px);
	/*background: url("../img/BOD_bg.png") no-repeat center center;*/
	right:14%;
}

#generate_character h2{
	text-align: center;
}

#generate_BOG_img{
	position: absolute;
	width:400px;
	height:455px;
	left:0;
	top:calc(50% - 230px);
	overflow: hidden;
}

#generate_BOG_img div{
	position: absolute;
	width:400px;
	height:455px;
}

#generate_BOD_img{
	position: absolute;
	width:400px;
	height:455px;
	left:0;
	top:calc(50% - 230px);
	overflow: hidden;
}

#generate_BOD_img div{
	position: absolute;
	width:400px;
	height:455px;
}

#BOG_hair1{
	background-image: url("../img/character/BOG_hair1.png");
}

#BOG_hair2{
	background-image: url("../img/character/BOG_hair2.png");
}

#BOD_hair1{
	background-image: url("../img/character/BOD_hair1.png");
}

#BOD_hair2{
	background-image: url("../img/character/BOD_hair2.png");
}

#hand1{
	background-image: url("../img/character/hand1.png");
}

#hand2{
	background-image: url("../img/character/hand2.png");
}

#hand3{
	background-image: url("../img/character/hand3.png");
}

#cloth0{
	background-image: url("../img/character/cloth0.png");
}

#cloth1{
	background-image: url("../img/character/cloth1.png");
}

#cloth2{
	background-image: url("../img/character/cloth2.png");
}

#cloth3{
	background-image: url("../img/character/cloth3.png");
}

#cloth4_1{
	background-image: url("../img/character/cloth4_1.png");
}

#cloth4{
	background-image: url("../img/character/cloth4.png");
}

#cloth5_1{
	background-image: url("../img/character/cloth5_1.png");
}

#cloth7{
	background-image: url("../img/character/cloth7.png");
}


#cloth5{
	background-image: url("../img/character/cloth5.png");
}

#cloth6_1{
	background-image: url("../img/character/cloth6_1.png");
}

#cloth6_2{
	background-image: url("../img/character/cloth6_2.png");
}

#cloth6_3{
	background-image: url("../img/character/cloth6_3.png");
}


#BOG_skin1{
	background-image: url("../img/character/BOG_skin1.png");
}

#BOG_skin2{
	background-image: url("../img/character/BOG_skin2.png");
}

#BOG_skin3{
	background-image: url("../img/character/BOG_skin3.png");
}

#BOD_skin1{
	background-image: url("../img/character/BOD_skin1.png");
}

#BOD_skin2{
	background-image: url("../img/character/BOD_skin2.png");
}

#BOD_skin3{
	background-image: url("../img/character/BOD_skin3.png");
}

/* design _ personality */

#design_personality h2{
	text-align: center;
	position: relative;
	top:3%;
}


#positive_BOG,
#negative_BOD,
#positive_BOD,
#negative_BOG{
	display: none;
}


.design_BOG td{
	border: 2px solid #fbeff0;
}

.design_BOD td{
	border: 2px solid #fff;
}

table {
	top:2.2%;
	width:84%;
	position: relative;
	left:8%;
	text-align: left;
	font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 1em;
    border-spacing: 5px;
}

td {
	width:20%;
	padding:8px 0 8px 0;
	border-radius: 25px;
	text-align: center;
}

td:hover {
	border: 2px solid #d74276;
	cursor:pointer;
}

th {
	padding:30px 0 10px 15px;
	color:#20304c;
}

.note_text{
	position: absolute;
	font-size: 0.8em;
	margin-top: 8px;
	margin-left:75px;
}

.note_text span{
	font-size: 1em;
}

#generate_cards{
	position: absolute;
	background-color: #fbeff0;
	width:100%;
	height:1300px;
}

#display_card{
	position: absolute;
	width:60%;
	left:5%;
	top:40px;
}

.card_modern,
.card_camelot{
	overflow:hidden;
	display: none;
	width:100%;
	height:100%;
}

.card_drag{
	position: relative;
	width:140px;
	height:220px;
	background-color: #fff;
	border-radius: 10px;
	float:left;
	margin:10px;
	cursor:pointer;
}

.card_drag h4{
	position: absolute;
	top:10px;
	width:100%;
	text-align: center;
	font-family: Gill Sans MT, sans-serif;
	color:#162346;
}

.card_drag img{
	position: absolute;
	width:140px;
	bottom: 0;
}

/* hide card */

#happy_alone, #temptation, #seduction, #love_first, #rescue, #suspicion,
#threat, #revenge, #fear_poverty, #temptation_wealth, #fearBOG,
#violence, #battle{
	display: none;
}

/** Morphemes **/
#drag_morphemes{
	position: fixed;
	right:0;
	width:34%;
	height:100%;
}

#drag_morphemes h2{
	margin:5px 0 0 30px;
}

.drag_box{
	position: relative;
	height:70px;
	width:100%;
	margin:30px;
}

#drag_morphemes h4{
	font-family: Gill Sans MT, sans-serif;
	position: absolute;
	font-size: 1.2em;
	width:100px;
	padding-top: 13px;
}

.drag_box div{
	position: absolute;
	width:50%;
	right:20%;
	height:100%;
	background-color: #fff;
	cursor:pointer;
}


.drag_box p{
	text-align: center;
	color:#bbb;
	margin-top: 17px;
	width:80%;
	margin-left:10%;
}

.card_drag p{
	position: absolute;
	width:100%;
	font-family: Lato, sans-serif;
	top:30px;
	text-align: center;
	font-size: 0.7em;
	color:#163e6e;
}


#opening p{
	display:none;
}

#opening{
	border: 3px solid #d74276;
}

/* final screen*/
#final_board{
	background-color: #f0e0e2;
	width:100%;
	height:100%;
	position: absolute;
}


.info_B{
	position: relative;
	float:left;
	width:50%;
	height:230px;
	border-bottom: 3px solid #fff;
	overflow: hidden;
}

.info_B div{
	position: absolute;
}

.summary{
	width:250px;
	position:absolute;
	left:430px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.summary p{
	margin-top: 10px;
}

#generate_BOG_modern_small,
#generate_BOD_modern_small{
	position: absolute;
	width:400px;
	height:455px;
	left:0;
	top:0;
	overflow: hidden;
}

#generate_BOG_modern_small div,
#generate_BOD_modern_small div{
	position: absolute;
	width:400px;
	height:455px;
}

#generate_BOD_camelot_small,
#generate_BOG_camelot_small{
	top:-35px;
	display: none;
}









